variables:
  PRODUCT_NAME: edigeo_processing

stages:
  - build
  - deploy

build:
  image: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  stage: build
  variables:
    PRERELEASE: "--pre"
    STATUS: unstable
  rules:
  - if: '$CI_COMMIT_TAG =~ /^(?:release-|v)?\d+\.\d+\.\d+(?:-.*)?$/'
    variables:
        VERSION_PRE: ""
        STATUS: stable
  - when: on_success
  script:
    - echo "Building plugin ${PRODUCT_NAME} STATUS=${STATUS}"
    - yapt-pkg package $PRERELEASE
    - echo "PACKAGE=`ls -1 *.zip`" > build.env
    - echo "STATUS=$STATUS" >> build.env
    - cat build.env  
  artifacts:
    reports:
      dotenv: build.env
    paths:
      - "*.zip"
  tags:
    - factory-plain

deploy:
  image: $REGISTRY_URI/factory-ci-runner:fabric-ci
  stage: deploy
  dependencies:
    - build
  rules:
    - if: $RELEASE_BRANCH == "true"
  script:
    - upload_plugins ${PRODUCT_NAME} ${PACKAGE} ${STATUS}
  tags:
    - fabric

