variables:
  PRODUCT_NAME: edigeo_processing

stages:
  - version
  - build
  - deploy

version:
  image: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  stage: version
  script:
    - echo "VERSION=`make version`" > build.env
    - echo "STATUS=`make status`" >> build.env
    - cat build.env
  artifacts:
    reports:
      dotenv: build.env
  tags:
    - factory-plain

build:
  image: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  stage: build
  dependencies:
    - version
  script:
    - echo "Building plugin ${PRODUCT_NAME}  VERSION=${VERSION} STATUS=${STATUS}"
    - >
      qgis-plugin-ci
      package ${VERSION}
      --plugin-repo-url https://packages.3liz.org/pub/${PRODUCT_NAME}/${STATUS}/
  artifacts:
    untracked: true
    expose_as: "QGIS package"
    paths:
      - ${PRODUCT_NAME}.${VERSION}.zip
      - plugins.xml
  tags:
    - factory-plain

deploy:
  image: $REGISTRY_URI/factory-ci-runner:fabric-ci
  stage: deploy
  dependencies:
    - version
    - build
  script:
    - upload_plugins ${PRODUCT_NAME} ${PRODUCT_NAME}.${VERSION}.zip ${STATUS}
  variables:
    PLUGIN_SERVER_URL: "https://qgis-plugins.3liz.org"
  tags:
    - fabric

